/* 4 - External */
body{
    padding-bottom: 500px;
}

h3{
    color: green;
}


/* classess */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 3px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson
}

/* HEX */
.hex {
    color: #55a398
}

.hex-2 {
    color: #52a734
}

/* Aprofundando em HEX */
.simple-hex {
    color: #333
}

.simple-hex-2 {
    color: #A5f
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(223, 223, 3);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.6);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* Background */
.bg{
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* Background opacidade */
.bg-opacity {
    background-color: green;
    opacity: 0.6;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* Imagem background */
.bg-image{
    background-image: url("../img/NewYorkCity.jpg");
    padding: 10px;
    color: #fff;
}